<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChinaUnion_Agent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChinaUnion_Agent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <ChinaUnion_Agent.Properties.Settings>
            <setting name="DBConnectString" serializeAs="String">
                <value>User Id=root;Host=115.29.229.134;Database=chinaunion;password=c513324665;charset=utf8</value>
            </setting>
            <setting name="TripoisUserName" serializeAs="String">
                <value>zapjx@hotmail.com</value>
            </setting>
            <setting name="TripolisPassword" serializeAs="String">
                <value>Test123</value>
            </setting>
            <setting name="TripolisClient" serializeAs="String">
                <value>Training</value>
            </setting>
        </ChinaUnion_Agent.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ChinaUnion_Agent.Properties.Settings>
            <setting name="MailFromAddress" serializeAs="String">
                <value>zapjx@hotmail.com</value>
            </setting>
            <setting name="MailReplyAddress" serializeAs="String">
                <value>zapjx@hotmail.com</value>
            </setting>
            <setting name="MailSender" serializeAs="String">
                <value>上海联通</value>
            </setting>
            <setting name="MailSubject" serializeAs="String">
                <value>上海联通合作伙伴佣金告知单</value>
            </setting>
            <setting name="TripolisDBId" serializeAs="String">
                <value>MjYxMTI2MTFnUydR54n7AA</value>
            </setting>
            <setting name="TripolisWorkspaceId" serializeAs="String">
                <value>MjA3MDIwNzB7FCIp4OwTNA</value>
            </setting>
            <setting name="TripolisDirectEmailId" serializeAs="String">
                <value>NTk2NjAzNTkBUvjETM2B7g</value>
            </setting>
            <setting name="TripolisEmailTypeId" serializeAs="String">
                <value>MTgyOTE4MjnRoLwFOdhKZw</value>
            </setting>
            <setting name="Wechat_Corpid" serializeAs="String">
                <value>wx4fe8b74e01fffcbb</value>
            </setting>
            <setting name="Wechat_Secret" serializeAs="String">
                <value>8p7q04VR4gYFAaZNg16nuABflvhW-nJDxKCW34zGNoqGoh5BL6ahzOF--ddPhFKU</value>
            </setting>
        </ChinaUnion_Agent.Properties.Settings>
    </userSettings>
</configuration>
