<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChinaUnion_Agent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChinaUnion_Agent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <ChinaUnion_Agent.Properties.Settings>
            <setting name="TripoisUserName" serializeAs="String">
                <value>api@chinaunicom.cn</value>
            </setting>
            <setting name="TripolisPassword" serializeAs="String">
                <value>Test123</value>
            </setting>
            <setting name="TripolisClient" serializeAs="String">
                <value>China Unicom</value>
            </setting>
        </ChinaUnion_Agent.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ChinaUnion_Agent.Properties.Settings>
            <setting name="MailFromAddress" serializeAs="String">
                <value>agent@chinaunicom.cn</value>
            </setting>
            <setting name="MailReplyAddress" serializeAs="String">
                <value>agent@chinaunicom.cn</value>
            </setting>
            <setting name="MailSender" serializeAs="String">
                <value>上海联通</value>
            </setting>
            <setting name="MailSubject" serializeAs="String">
                <value>上海联通合作伙伴佣金告知单</value>
            </setting>
            <setting name="TripolisDBId" serializeAs="String">
                <value>MjYxNTI2MTXJNzwjtk5i_w</value>
            </setting>
            <setting name="TripolisWorkspaceId" serializeAs="String">
                <value>MjA3NTIwNzVxWpsg5oprpg</value>
            </setting>
            <setting name="TripolisDirectEmailId" serializeAs="String">
                <value>NjI4Mzk4NjJKsgFCFCvomQ</value>
            </setting>
            <setting name="TripolisEmailTypeId" serializeAs="String">
                <value>MTgzMjE4MzKEP3h36*317g</value>
            </setting>
            <setting name="Wechat_Corpid" serializeAs="String">
                <value>wx31204de5a3ae758e</value>
            </setting>
            <setting name="Wechat_AgentSecret" serializeAs="String">
                <value>DU09Cdt9oowLw9U-mW2WYKMzY21p8iNi5-xPlEqNEWWDHXm2bh9Te5nYA4ZPgtN9</value>
            </setting>
            <setting name="Wechat_Message" serializeAs="String">
                <value>佣金邮件已发送，请注意查收，你也可以通过微信企业号实时查收佣金情况,点击查询&lt;a href="http://112.64.17.80/Wechat/AgentFeeQuery.aspx?agentNo={0}&amp;feeMonth={1}"&gt;本月佣金详情&lt;/a&gt;</value>
            </setting>
            <setting name="Wecaht_Agent_Department" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Wechat_ErrorSecret" serializeAs="String">
                <value>YTQ8mFvRxVIzebNiQS03dxbiSt4sVOBxhb_LyoQGXMIown-ULDnzdrnnVHcHJZAq</value>
            </setting>
            <setting name="Wecaht_Error_Department" serializeAs="String">
                <value>2</value>
            </setting>
        </ChinaUnion_Agent.Properties.Settings>
    </userSettings>
</configuration>
