<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>false</Enabled>
  <ServerUrl>http://112.64.17.80/AutoUpdater/updateservice.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="ChinaUnion_Agent.exe" lastver="1.0.0" size="11913728" />
  </UpdateFileList>
</Config>