<?xml version="1.0" encoding="utf-8" ?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://update.iyond.com/updateservice.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="AutoUpdater.dll" lastver="1.0.0.0" size="28672" />
    <LocalFile path="CompanyClient.exe" lastver="1.1.0.0" size="888832 " />
    <LocalFile path="HappyFenClient.dll" lastver="1.0.0.0" size="24576" />
    <LocalFile path="NetworkProvider.dll" lastver="1.0.0.0" size="32768" />
    <LocalFile path="Utility.dll" lastver="1.0.0.0" size="20480" />
    <LocalFile path="Wizard.dll" lastver="1.0.0.0" size="24576"  />
  </UpdateFileList>
</Config>