<?xml version="1.0" encoding="utf-8" ?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enabled>true</Enabled>
  <ServerUrl>http://112.64.17.80/Wechat/Winform/updateservice.xml</ServerUrl>
  <UpdateFileList>
    <LocalFile path="ChinaUnion_Agent.exe" lastver="1.0.0.0" size="399360" />
    <LocalFile path="ChinaUnion_BO.dll" lastver="1.0.0.0" size="9216" />
    <LocalFile path="ChinaUnion_DataAccess.dll" lastver="1.0.0.0" size="26624" />
    <LocalFile path="TripolisDialogueAdapter.dll" lastver="1.0.0.0" size="509952" />
  </UpdateFileList>
</Config>