<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JobMailTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="EdenredMailTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <microsoft.web.services3>
    <messaging>
      <mtom clientMode="On" />
    </messaging>
  </microsoft.web.services3>
  
  <userSettings>
    <JobMailTools.Properties.Settings>
      <setting name="ContactDatabaseId" serializeAs="String">
        <value>MjU1MTI1NTFFUVus6S83qA</value>
      </setting>
      <setting name="WorkspaceId" serializeAs="String">
        <value>MjAwNzIwMDdKRmT4g3bWOg</value>
      </setting>
      <setting name="EmailTypeId" serializeAs="String">
        <value>MTc2MDE3NjBcUp_pC*h71w</value>
      </setting>
      <setting name="DirectEmailId" serializeAs="String">
        <value>MzIwODYyMzI99gkUiCfOmQ</value>
      </setting>
      <setting name="EmailFiledName" serializeAs="String">
        <value>email</value>
      </setting>
      <setting name="PerBatchSize" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PerBatchWaitInterval" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="PerMailWaitInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="client" serializeAs="String">
        <value>Training</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value>zapjx@hotmail.com</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>Test123</value>
      </setting>
      <setting name="proxyUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyPort" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyDomain" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyHost" serializeAs="String">
        <value />
      </setting>
      <setting name="ReportRefreshInterval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ftpServerIP" serializeAs="String">
        <value>ftp.free3v.net</value>
      </setting>
      <setting name="ftpUserID" serializeAs="String">
        <value>zhouanping</value>
      </setting>
      <setting name="ftpPassword" serializeAs="String">
        <value>Test123</value>
      </setting>
    </JobMailTools.Properties.Settings>
    <EdenredMailTools.Properties.Settings>
      <setting name="ContactDatabaseId" serializeAs="String">
        <value>MjU1MTI1NTFFUVus6S83qA</value>
      </setting>
      <setting name="WorkspaceId" serializeAs="String">
        <value>MjAwNzIwMDdKRmT4g3bWOg</value>
      </setting>
      <setting name="EmailTypeId" serializeAs="String">
        <value>MTc2MDE3NjBcUp_pC*h71w</value>
      </setting>
      <setting name="DirectEmailId" serializeAs="String">
        <value>MzIwODYyMzI99gkUiCfOmQ</value>
      </setting>
      <setting name="EmailFiledName" serializeAs="String">
        <value>email</value>
      </setting>
      <setting name="ReportRefreshInterval" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PerBatchSize" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PerBatchWaitInterval" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="PerMailWaitInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="client" serializeAs="String">
        <value>Training</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value>zapjx@hotmail.com</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>Test123</value>
      </setting>
      <setting name="proxyUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyPort" serializeAs="String">
        <value>8088</value>
      </setting>
      <setting name="proxyDomain" serializeAs="String">
        <value />
      </setting>
      <setting name="proxyHost" serializeAs="String">
        <value>web-proxy.china.hp.com</value>
      </setting>
     
    </EdenredMailTools.Properties.Settings>
  </userSettings>
</configuration>