<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SendMailForJob.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <SendMailForJob.Properties.Settings>
            <setting name="client" serializeAs="String">
                <value>training</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value>zapjx@hotmail.com</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>Test123</value>
            </setting>
            <setting name="contactDatabaseId" serializeAs="String">
                <value>MjU1OTI1NTm6UFiCZQIokg</value>
            </setting>
            <setting name="workspaceId" serializeAs="String">
                <value>MjAxNjIwMTYrcyIPWpHd*w</value>
            </setting>
            <setting name="emailTypeId" serializeAs="String">
                <value>MTc3NDE3NzR93tsKXN3m4A</value>
            </setting>
            <setting name="ftpAccountId" serializeAs="String">
                <value>NTM1NTM1NTNuZ_nHNzDQWA</value>
            </setting>
            <setting name="fromName" serializeAs="String">
                <value>51Job</value>
            </setting>
            <setting name="fromAddress" serializeAs="String">
                <value>zapjx@hotmail.com</value>
            </setting>
            <setting name="reportReceiverAddress" serializeAs="String">
                <value>zapjx@hotmail.com</value>
            </setting>
            <setting name="FTPLocalPath" serializeAs="String">
                <value>D:\FTP\LocalUser\51job\</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>D:\FTP_BCK\51Job\</value>
            </setting>
        </SendMailForJob.Properties.Settings>
    </userSettings>
</configuration>
