<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="SendMailForJob.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <SendMailForJob.Properties.Settings>
            <setting name="client" serializeAs="String">
                <value>51job</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value>api@51job.com</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>Test123</value>
            </setting>
            <setting name="contactDatabaseId" serializeAs="String">
                <value>MjU1ODI1NTgL21MIxlZDCQ</value>
            </setting>
            <setting name="workspaceId" serializeAs="String">
                <value>MjAxNTIwMTW*cnAz7Zn0sQ</value>
            </setting>
            <setting name="emailTypeId" serializeAs="String">
                <value>MTc2ODE3Nji6JEFYrHDuFA</value>
            </setting>
            <setting name="ftpAccountId" serializeAs="String">
                <value>NTM3NTM3NTMZ4aAtyuHGmA</value>
            </setting>
            <setting name="fromName" serializeAs="String">
                <value>51Job</value>
            </setting>
            <setting name="fromAddress" serializeAs="String">
                <value>career@jobmail.51job.com</value>
            </setting>
            <setting name="reportReceiverAddress" serializeAs="String">
                <value>eros.peng@51job.com</value>
            </setting>
            <setting name="FTPLocalPath" serializeAs="String">
                <value>D:\FTP\LocalUser\51Upload\</value>
            </setting>
            <setting name="BackupPath" serializeAs="String">
                <value>D:\FTP_BCK\51Job\</value>
            </setting>
        </SendMailForJob.Properties.Settings>
    </userSettings>
</configuration>
