<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TripolisDialogueAdapter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <applicationSettings>
    <TripolisDialogueAdapter.Properties.Settings>
      <setting name="TripolisDialogueAdapter_cn_tripolis_dialogue_contactDatabase_ContactDatabaseService"
        serializeAs="String">
        <value>https://dialogue.tripolis.cn/api2/soap/ContactDatabaseService</value>
      </setting>
      <setting name="TripolisDialogueAdapter_cn_tripolis_dialogue_contactDatabaseField_ContactDatabaseFieldService"
        serializeAs="String">
        <value>https://dialogue.tripolis.cn/api2/soap/ContactDatabaseFieldService</value>
      </setting>
      <setting name="TripolisDialogueAdapter_cn_tripolis_dialogue_contact_ContactService"
        serializeAs="String">
        <value>https://dialogue.tripolis.cn/api2/soap/ContactService</value>
      </setting>
      <setting name="TripolisDialogueAdapter_cn_tripolis_dialogue_contactGroup_ContactGroupService"
        serializeAs="String">
        <value>https://dialogue.tripolis.cn/api2/soap/ContactGroupService</value>
      </setting>
      <setting name="TripolisDialogueAdapter_cn_tripolis_dialogue_workspace_WorkspaceService"
        serializeAs="String">
        <value>https://dialogue.tripolis.cn/api2/soap/WorkspaceService</value>
      </setting>
      <setting name="TripolisDialogueAdapter_cn_tripolis_dialogue_directEmailType_DirectEmailTypeService"
        serializeAs="String">
        <value>https://dialogue.tripolis.cn/api2/soap/DirectEmailTypeService</value>
      </setting>
      <setting name="TripolisDialogueAdapter_cn_tripolis_dialogue_directEmail_DirectEmailService"
        serializeAs="String">
        <value>https://dialogue.tripolis.cn/api2/soap/DirectEmailService</value>
      </setting>
      <setting name="TripolisDialogueAdapter_cn_tripolis_dialogue_publish_PublishingService"
        serializeAs="String">
        <value>https://dialogue.tripolis.cn/api2/soap/PublishingService</value>
      </setting>
      <setting name="TripolisDialogueAdapter_cn_tripolis_dialogue_subscription_SubscriptionService"
        serializeAs="String">
        <value>https://dialogue.tripolis.cn/api2/soap/SubscriptionService</value>
      </setting>
      <setting name="TripolisDialogueAdapter_cn_tripolis_dialogue_reporting_ReportingService"
        serializeAs="String">
        <value>https://dialogue.tripolis.cn/api2/soap/ReportingService</value>
      </setting>
      <setting name="TripolisDialogueAdapter_cn_tripolis_dialogue_import_ImportService"
        serializeAs="String">
        <value>https://dialogue.tripolis.cn/api2/soap/ImportService</value>
      </setting>
      <setting name="TripolisDialogueAdapter_cn_tripolis_dialogue_export_ExportService"
        serializeAs="String">
        <value>https://dialogue.tripolis.cn/api2/soap/mtom/ExportService</value>
      </setting>
      <setting name="TripolisDialogueAdapter_cn_tripolis_dialogue_smsType_SmsTypeService"
        serializeAs="String">
        <value>https://dialogue.tripolis.cn/api2/soap/SmsTypeService</value>
      </setting>
      <setting name="TripolisDialogueAdapter_cn_tripolis_dialogue_smsMessage_SmsMessageService"
        serializeAs="String">
        <value>https://dialogue.tripolis.cn/api2/soap/SmsMessageService</value>
      </setting>
    </TripolisDialogueAdapter.Properties.Settings>
  </applicationSettings>
  <microsoft.web.services3>
    <messaging>
      <mtom clientMode="On" serverMode="optional" />
    </messaging>
  </microsoft.web.services3>
  <system.web>
    <webServices>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </webServices>
    <compilation>
      <assemblies>
        <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
